---
const {frontmatter} = Astro.props;
---
<title>{frontmatter.title}</title>

<h2>{frontmatter.title}</h2>
<p>Written by {frontmatter.author}</p>
<p>Published on: {frontmatter.pubDate.slice(0, 10)}<p/>
<slot />
<a href="../blog">Back to Blog</a>
